<h1>{{gitHubUser.name}}</h1>

<app-user-card  [user]="gitHubUser" ></app-user-card>

<hr>

<table border="1">
    <thead>
        <tr>
            <td>id</td>
            <td>Repositorio</td>        
            <td>Estrelas</td>
        </tr>        
    </thead>
    <tbody>
        <tr *ngFor="let item of gitHubUser.repositories" >
            <td>{{item.id}}</td>
            <td> <a href="{{item.html_url}}" target="_blank">{{item.name}}</a></td>        
            <td>{{item.stargazers_count}}</td>
        </tr>
    </tbody>
</table>
