@use 'variables'

@mixin flex-center
    display: flex
    align-items: center
    justify-content: center
        
@mixin flex-right
    display: flex
    align-items: right
    justify-content: right

@mixin mobile
    @media(max-width: 425px)
        @content
        